<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FREE PARABANK Application Test Automation Test Site">
    <test name="Parabank">
        <classes>
            <class name="com.parabank.qa.base.testcases.LoginPageTest"> </class>
            <class name="com.parabank.qa.base.testcases.HomePageTest"> </class>
            <class name="com.parabank.qa.base.testcases.OpenNewAccountPageTest"> </class>

        </classes>
    </test> <!-- Parabank(failed) -->
</suite> <!-- Failed suite [Default Suite] -->